<!-- @format -->

<template>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <router-link to="/" class="brand-logo">VUE</router-link>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/about">About</router-link></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">VUE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="badges.html">Home</a></li>
          <li><a href="collapsible.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
</template>

<script>
export default {};
</script>

<style scoped></style>
